body {
    background-color: rgb(158, 225, 249)
}

main{
    background-color: rgb(238, 220, 162);

}

.entrada {
    display: flex;
    flex-direction: column;

    padding: 10px;
}

.titular {
    display: inline-block;
    background-color:rgb(255, 186, 82);
    width:74.5%;
    padding: 5px;
    box-sizing: border-box;
    border-style: groove;
    border-radius: 2px;
    border-color: black;
}

.fecha {
    display: inline-block;
    width:25%;
    text-align: center;
    padding: 5px;
    border-style: groove;
    box-sizing: border-box;
    border-radius: 2px;
    border-color: black;
}

div.info {
    background-color:antiquewhite;
    border-radius: 2px;
    padding: 5px;
    margin: 2px;
    border-color: black;
    border-style: groove;

}

div.info img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Grid multimedia */
h2 {
    text-align: center;
}
.cuerpo {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    gap: 5px;
}