/* Header */
header{
  text-align: center;
  justify-content: center;
}

/* Estilo general para el cuerpo de la página */
body{
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

/* CSS para los headers*/
h1, h2, h3, h4, h5, h6 {
  color: #333; /*Asi no es tan negro, es un gris */
  margin-bottom: 10px;
}
  
h1 {
  font-size: 45px; 
}

h2 {
  font-size: 32px; 
}

/* Listas */
#contenedor_listas {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  margin-bottom: 3px;
  font-size: 18px
}

#cajita,#cajita2{
  margin-left: 20px;
  background-color: rgb(150, 239, 243);
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  width: 500px;
 
}

input[type="button"]{

    background-color: #4caf50;
    color: #fff;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#borrar{
  margin-top: 10px;
  
}