/* Header */
header{
  text-align: center;
  justify-content: center;
}

/* Estilo general para el cuerpo de la página */
body{
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

/* CSS para los headers*/
h1, h2, h3, h4, h5, h6 {
  color: #333; /*Asi no es tan negro, es un gris */
  margin-bottom: 10px;
}
  
h1 {
  font-size: 45px; 
}

h2 {
  font-size: 32px; 
}

/* Listas */
#contenedor_listas {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  margin-bottom: 3px;
  font-size: 18px
}

/* Estilo de los enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}