body{
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: rgb(158, 225, 249);
}
h2 {
  margin: 3px 0px 5px;
}
/* Arrastrables */
.opciones {
    display: flex;
    justify-content: space-between;
}

.arrastrable {
    width: 30%;
    height: 10%;
    background-color: rgb(172, 106, 210);
    border: 3px #333 solid;
    color: #fff;
    text-align: center;
    cursor: grab;
    margin: 10px;
}
.arrastrable p:first-of-type{
  font-style: italic;
}
.itemImagen {
    max-width: 240px;
    max-height: 80px; 
    margin: 10px;
  }

/* Esto es para que no se vea el triangulito */
summary {
  list-style: none;
  cursor: pointer;
}

/* Cesta */
#cesta {
  width: 200px;
  height: 200px;
  background-color: #eee;
  border: 2px solid #333;
  margin: 20px;
  text-align: center;
  padding: 5px;

  position: relative;
  top:50%;
  left:40%;
}
#listas {
  display: flex;
  flex-direction: column;
  height: 100px;
}

#listas div {
  height: 20px;
  margin: 2px 0px 2px 0px
}

#contador {
  border-bottom:#333 2px solid ;
  width: 100%;
}
/* Para que los divs y los parrafos de los articulos que contienen */
#listas div > p, #listas div > div {
  width:60%;
  height: 20px;
}
#listas > div  {
  display: flex;
  flex-direction: row;
}
#checkout {
  margin-top: auto;
}

/* Informativo */

#infoDonativos {
  width: 500px;
  height: 200px;

  position: absolute;
  border: 2px #333 solid;
  border-radius: 10px;

  background-color: #be8e40;


}
#infoDonativos p {
  margin: 0px;
}
/* Listas */
#contenedor_listas {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
#listas * {
  text-align: center;
}
li{
  margin-bottom: 3px;
}
ul {
  margin: 3px;
}

p {
  margin: 0px;
}

/* Checkout */
#checkDiv {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  border: 10px ridge black;
  width: 80%;

  background-color: #eee;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#tituloCheck{
  border-bottom:1px solid black;
  width: 100%;
}
#restoCheck {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bloque{
  flex:1;
  justify-content: center;
  text-align: center;
  
  display: flex;
  flex-direction: column;
}

#checkoutReal, #cerrarCheck {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 60%;
  border-radius: 10px;
}

#checkoutReal{
  background-color: rgb(64, 206, 64);
}

#cerrarCheck{
  background-color: crimson;
}

#checkResumen *{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  margin-top: 10px;

}
#checkResumen > p:first-of-type {
  text-decoration: underline;
  font-size: 25px;
}

#contador2{
  width: 100%;
  border-bottom: 3px solid #333;
  padding-top: 5px;
}

#informativo {
  font: 25px;
  font-weight: bold;
}