footer,header{
    background-color: rgb(150, 239, 243);
    padding: 3px;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
/* Estilo del header */
header{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
header h1 {
    font-size: 45px;
    color:#333;
    margin-bottom: 10px;
}
/* Estilo del footer */

nav{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 10px
  }
  
  .bloquesNAV {
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center; 
  }
  
  .bloquesNAV:hover{
      background-color: rgb(163, 174, 219);
      font-size: 20px;
      text-decoration-color: blue;
      cursor:pointer
  }
a {
    text-decoration-line: none;
    color:blue;
}
a:hover {
    text-decoration: underline;
}
a:visited{
    color: blue
}