footer, header, #nav_index {
    background-color: rgb(150, 239, 243);
    padding: 3px;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
}

header h1 {
    font-size: 45px;
    color: #333;
    margin-bottom: 10px;
}

.cabeceras {
    flex: 1;
}

.cabeceras:first-of-type img {
    position: absolute;
    left: 45px;
}

.cabeceras img {
    margin-top: 5px;
}

/* Footer */
footer nav, #nav_index nav {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 10px;
}

footer .bloquesNAV, #nav_index .bloquesNAV {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: blue;

    background-color: rgb(150, 239, 243);
    border: 0px;
    
}

footer .bloquesNAV:hover , #nav_index .bloquesNAV:hover{
    background-color: rgb(163, 174, 219);
    text-decoration-color: blue;
    font-size: 25px;
    cursor: pointer;
}


/* Aside */
#nav-lat {
    border: 5px black ridge;
    background-color: rgb(88, 94, 147);
    position: fixed;
    top: 22%;
    left: 10px;

    padding: 2px;
}

#nav-lat nav {
    flex-direction: column;
    margin-top: 5px ;
}
summary {
    text-decoration: underline;
    font-weight: bold;

    cursor: pointer;
    list-style-type: none;
    text-align: center;
}

aside .bloquesNAV, aside summary, aside a, aside a:visited {
    color: white;
    background-color: rgb(88, 94, 147);
    border: 0px;
    width: 100%;
}

aside .bloquesNAV:hover {
    background-color: rgb(163, 174, 219);
    font-size: 15px;
    text-decoration-color: blue;
    cursor: pointer;
}

/* Mix footer y aside */
aside p:hover, footer p:hover , #nav_index p:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}