body{
    background-color: rgb(158, 225, 249);
}
/* Contenido del header */

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
    color: blue;
    font-size: 70px;
    text-align: center;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
    color: black;
    font-size: 25px;
}


#comenzar{
    padding:40px;
    background-color: rgb(66, 189, 198);
    border-radius: 10px;
    font-size: 70px;
}
#comenzar:hover{
    color: white;
    background-color: rgb(90, 222, 231);
    transform: scale(0.85);
}



#cajita,#cajetin{

    background-color: rgb(150, 239, 243);
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
